<div class="movie-card">
  <a routerLink="/AdminDashboard/moviefetched/addmovies">
    <button class="add-movie-button">Add Movie</button>
  </a>
</div>



  <div class="container mt-5 px-2">
    <div class="row">
     <div class="col-3" *ngFor="let movie of list ">
 
         <div class="card " >
             <div class="card-body">
              <img [src]="movie.image" class="card-img-top" alt="...">
              <h6>{{movie.moviename}}</h6>
              <h6>{{movie.category}} , {{movie.languages}}</h6>
             </div>
           </div>
     </div>



<router-outlet></router-outlet>
