<!-- <footer>
    <div class="container">
        <p>&copy; 2023 MovieBox. All rights reserved.</p>
    </div>
</footer> -->


<div class="container-fluid bg-dark text-center text-white-50 border-top  footer" style="border-color: rgba(256, 256, 256, .1) !important; ">
    <div class="container ">
        <div class="row">
            
            <div class="col-md-6 text-center col-lg-12 p-2 mb-md-0 ">
                
                <p class="m-0 text-center" style="line-height: 1.5; color: white;"> <a class="text-decoration-none" style="color: rgb(255, 255, 255);" href="tel:+91 1234567890"><small><i class="bi bi-whatsapp"></i> +91 1234567890</small></a>
                    <small class="px-3">|</small>
                   <a class="text-decoration-none" style="color: white;" href="mailto:movieboxtheatre2023@gmail.com"> <small><i class="bi bi-envelope"></i>&nbsp; movieboxtheatre2023@gmail.com</small></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Copyright &copy; MovieBox. All Rights Reserved. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


<a class="text-white px-2" href="https://www.instagram.com/">
    <i class="bi bi-instagram"></i>
</a>
<a class="text-white px-2" href="https://www.facebook.com/login.php">
    <i class="bi bi-facebook"></i>
</a>

<a class="text-white px-2" href="https://www.youtube.com/">
    <i class="bi bi-youtube"></i>
</a>
<!-- <a class="text-white pl-2" href="">
    <i class="fab fa-youtube"></i>
</a> -->
</p>
            </div>
        </div>
        
    </div>
</div>

<!-- Footer End -->