<!-- <footer>
    <div class="container">
        <p>&copy; 2023 MovieBox. All rights reserved.</p>
    </div>
</footer> -->


<div class="container-fluid bg-dark text-center text-white-50 border-top  footer" style="border-color: rgba(256, 256, 256, .1) !important; ">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 text-center col-lg-12 p-2 mb-md-0 ">
                <p class="m-0 text-center" style="line-height: 1.5;">Copyright &copy; MovieBox. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>

<!-- Footer End -->