<app-navbar></app-navbar>

<div class="container">
    <div class="about-section">
        <h1 class="about-heading">About Us</h1>
        <p>Welcome to Movie Box - Your Ultimate Movie Destination!</p>
        <p><strong>Experience Excellence Since 1998</strong></p>
        <p>Movie Box, located in the heart of Ernakulam, has been a beacon of entertainment for the past 25 years. Established in 1998, we have consistently delivered unparalleled cinematic experiences to our cherished patrons. Our journey began with a simple goal – to bring the magic of the silver screen closer to your hearts.</p>
       
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="maps"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3304.3870034207403!2d76.28324357482423!3d9.967208735829246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d514abec6bf%3A0xbd582caa5844192!2sKochi%2C%20Kerala!5e0!3m2!1sen!2sin!4v1696055997429!5m2!1sen!2sin" width="350" height="300" style="border-color: rgb(183, 7, 7);outline: auto;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></span>
    <div class="legacy-section">
        <h2 class="legacy-heading">A Legacy of Entertainment</h2>
        <p class="legacy-content">Over the years, Movie Box has grown to become a beloved landmark in Ernakulam's entertainment landscape. Our commitment to showcasing the finest films, providing top-notch amenities, and creating memorable moments for our audience has been the cornerstone of our success.</p>
    </div>

    <div class="features-section">
        <h2 class="features-heading">What Sets Us Apart</h2>
        <div class="feature-item"><i class="bi bi-display"></i> State-of-the-Art Theatres: Immerse yourself in the world of cinema with our state-of-the-art theaters equipped with the latest technology for unparalleled audio and visual experiences.</div>
        <div class="feature-item"><i class="bi bi-film"></i> Diverse Film Selection: We curate a diverse selection of films, from blockbusters to indie gems, catering to all tastes and preferences.</div>
        <div class="feature-item"><i class="bi bi-cup"></i> Comfort and Convenience: Your comfort is our priority. Enjoy spacious seating, a wide range of snacks, and friendly staff dedicated to ensuring your visit is exceptional.</div>
        <div class="feature-item"><i class="bi bi-heart"></i> Community Engagement: We believe in giving back to the community. Movie Box regularly hosts special screenings and events to support local causes and organizations.</div>
    </div>

    <div class="contact-section">
        <h2 class="contact-heading">Join Our Journey</h2>
        <p class="contact-info">As we continue to evolve and adapt to the changing landscape of entertainment, Movie Box remains committed to delivering outstanding movie experiences. We owe our success to you, our valued patrons, and we look forward to many more years of bringing joy and excitement to your lives.</p>
        <p class="contact-info">Thank you for being a part of the Movie Box family. We can't wait to welcome you to our theaters for many more years of cinematic magic!</p>
        <p class="contact-info">For any inquiries or feedback, please feel free to reach out to us. Your thoughts and suggestions are invaluable as we strive to make your Movie Box experience even better.</p>
    </div>
</div>



<br><br><br>
<app-footer></app-footer>