/* Navbar styles */
.navbar {
    background-color: #3498db; /* Change this to your desired background color */
  }
  
  .navbar-brand {
    color: #fff; /* Change the navbar brand text color */
    font-size: 24px; /* Adjust the font size */
  }
  
  .navbar-toggler-icon {
    background-color: #fff; /* Change the navbar toggler icon color */
  }
  
  .navbar-nav .nav-link {
    color: #fff; /* Change the nav link text color */
    padding: 10px 20px; /* Adjust the padding as needed */
    transition: background-color 0.3s; /* Add a smooth background color transition effect */
  }
  
  .navbar-nav .nav-link:hover {
    background-color: #2980b9; /* Change the background color on hover */
    border-radius: 5px; /* Add a slight border-radius for a rounded look */
  }