

<div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark bg-gradient">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <div class="d-flex  pb-3 mb-md-0 me-md-auto text-white text-decoration-none ">
                  <div class="flex-row">
                    <br>
                      <a href="#" class="nav-link">
                          <!-- <i class="bi bi-house" style="font-size:1rem;color:white"></i> -->
                          &nbsp; &nbsp; &nbsp; &nbsp;<img src="/assets/MovieBox__1_-removebg-preview.png" alt="" height="50px" width="80px">
                      </a>                           
                  </div>
              </div>
              <div class="row py-3">
                  <a routerLink="/UserDashboard" style="text-decoration:none">
                      <span class="fs-6 font-weight-semi-bold d-sm-inline">
                          <span id="facultyName">USER</span> <!--Name of the user-->
                          DASHBOARD</span>
                  </a>
              </div>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a routerLink="/UserDashboard/usermoviefetched" class="nav-link align-middle text-light px-0">
                        <button style="background-color: transparent;border:none;padding:2px">
                            <i class="bi bi-film"style="font-size:1.3rem;color:white"></i>
                        </button>
                         <span id="reqform" class="ms-1 d-none d-sm-inline">&nbsp;Movies</span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a routerLink="/UserDashboard/mytickets/:user" class="nav-link align-middle text-light px-0">
                        <button style="background-color: transparent;border:none;padding:2px">
                            <i class="bi bi-ticket-detailed-fill" style="font-size:1.3rem;color:white"></i>
                        </button>
                         <span id="reqform" class="ms-1 d-none d-sm-inline">&nbsp;My Tickets</span>
                      </a>
                  </li>
                 
              </ul>
     
                  <div class="signout">
                    <a class="d-flex align-items-center text-white text-decoration-none" (click)="logout()"  >
                        <span class="d-none d-sm-inline mx-1 "><button style="background-color: transparent;"><i class="bi bi-box-arrow-left" style="font-size: 1.3rem; color: white"></i></button> Sign Out</span>
                    </a>
                  
                </div>
            <br><br>
          </div>
          <br><br><br>
      </div>
      <div class="col py-3 text-center">
          <router-outlet></router-outlet>
      </div>
      <br>
  </div>
<app-footer></app-footer>
</div>








<app-footer></app-footer>